# This is Git's per-user configuration file.
[user]
  name = Colin Chan
  email = 10773226+mobiusdickus@users.noreply.github.com
[alias]
	b = branch
	s = status
  co = checkout
	tree = log --oneline --graph --decorate --all
[merge]
	tool = opendiff
[http]
	cookiefile = ~/.gitcookies
